.cart-container {
  padding: 2.188rem 1rem 25.25rem;
}

.cart-flex {
  padding: 1.5rem;
}

@media (min-width: 992px) {
  .cart-container {
    padding: 2.188rem 9.688rem 25.25rem;
  }

  .cart-flex {
    padding: 1.5rem 0;
  }
}
